.profilePageEdit {
  flex: 1;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;

  form {
    padding: 20px;
    display: flex;
    gap: 100px;
    width: 60%;
    flex-direction: column;

    h1 {
      text-align: center;
    }

    div {
      display: flex;
      gap: 10px;
      justify-content: space-evenly;
    }

    button {
      align-self: center;
      width: 40%;
    }
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
  }

  .avatarInput {


    img {
      border-radius: 50%;
    }

    i {
      cursor: pointer;
      font-size: 1rem;

      &:hover {
        color: var(--blue-1);
      }
    }
  }
}

.input {
  background-color: white;
  font-family: var(--font-family), serif;
  outline: none;
  box-shadow: var(--box-shadow);
}

.inputPasswordContainer {
  position: relative;

  i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

p {
  margin: 0;
}

.error  {

  color: red;
  font-family: var(--font-family), serif;
  font-weight: bold;
}

.dark {
  color: white;
}