@use "../../../../../../assets/styles/mixins" as mixins;

.headerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputFilter {
  position: relative;
  width: 25%;

  @include mixins.lg-lt {
    width: 40%;
  }


  @include mixins.md-lt {
    width: 100%;
  }

  input {
    background-color: white;
    font-family: var(--font-family), serif;
    outline: none;
    box-shadow: var(--box-shadow);
    width: 100%;
    padding: 10px 30px;
  }

  i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.headerAction {
  display: flex;
  gap: 10px;

  @include mixins.md-lt {
    display: none;
  }

  i {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.2s, transform 0.2s;

    &:hover {
      color: var(--blue-1);
      transform: scale(1.1);
    }
  }
}

.notificationIcon {
  position: relative;

  span {
    position: absolute;
    border-radius: 100%;
    right: -50%;
    top: -50%;
    padding: 5px;
    font-family: var(--font-family), serif;
    font-size: 0.8rem;
    font-weight: bold;
    background: var(--red-1);
    color: white;
  }
}


.notificationsContainer {
  background: white;
  position: absolute;
  max-height: 400px;
  width: max-content;
  overflow-y: auto;
  top: 40px;
  right: 0;
  display: flex;
  flex-direction: column;

  gap: 5px;
  padding: 20px;
  z-index: 10;

}

.notificationsContainer::-webkit-scrollbar {
  width: 10px;

}


.notificationItem {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  flex-direction: column;

  div {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 3px;

      p {
        color: gray;
        font-size:0.8rem;
      }
    }
  }

  &:hover {
    background: var(--gray-2);
  }


  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

}

.notificationLeft {
  p {
    font-weight: bold;
    font-size: 0.7rem;
    margin: 0;
  }
}
