.settingsPage {
  flex: 1;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  display: flex;
  width: 100%;
  padding: 20px;

  >div {
    padding: 20px;
    color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      color: black;
      font-weight: bold;
    }

    .settingsContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h3 {
        color: black;
        font-weight: bold;
      }
    }
  }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
        background-color: #2196F3;
        }

        &:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
        }

        &:checked + .slider:before {
        transform: translateX(26px);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;

        &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
        }
    }

    .slider.round {
        border-radius: 34px;

        &:before {
        border-radius: 50%;
        }
    }
}


.langues {
  display: flex;
  flex-direction: column;

  select {
    padding: 10px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: none;
    background-color: white;
    color: black;
    width: 10%;

    &:focus {
      outline: none;
    }

    option {
      color: black;
      font-family: var(--font-family), sans-serif;
      font-weight: bold;
    }
  }
}

.themes {

}

.dark {
  div {
    h1, {
      color: white;
    }

    div h3 {
        color: white !important;
    }
  }
}