@use "../../assets/styles/mixins" as mixins;

.modalPreviewCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--gray-2);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  gap: 20px;
  max-height: 50vh;
  z-index: 2;

  p {
    margin: 0;
    font-family: var(--font-family), sans-serif;
    font-size: 0.8rem;
  }
}

.modalPreviewCardContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.modalPreviewCardAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  div {
    display: flex;
    gap: 10px;
  }

  i {
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: transform 0.2s, opacity 0.2s;
    will-change: auto;

    &:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }
  }
}

.modalPreviewCardContentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-family: var(--font-family), sans-serif;
  font-size: 1.2rem;
  font-weight: bold;

  div {
    display: flex;
    gap: 10px;
  }

  i {
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
    will-change: auto;

    &:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }
  }

}

.modalPreviewCardContentComment {
  flex: 1;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.modalPreviewCardContentCommentItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  max-height: 30vh;
  height: 30vh;
  padding: 5px;
}

.modalPreviewCardContentCommentItem::-webkit-scrollbar {
  width: 10px;

  // activate scroll smooth animate

  scroll-behavior: smooth;


}

.inputSearch {
  position: relative;
  width: 100%;

  input {
    background-color: white;
    font-family: var(--font-family), serif;
    outline: none;
    box-shadow: var(--box-shadow);
    width: 100%;
    padding: 10px 30px;
  }

  .search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .send {
    position: absolute;
    width: min-content;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: n;
    cursor: pointer;
    transition: opacity 0.2s;
    will-change: auto;


    &:hover {
      opacity: 0.8;
    }
  }

}


.dark {
  background: #3a3a3a;
  color: white;
}

